.themes_light {
  /* color */
  --background-action-heavy-default: var(--colors-light-orange-500-solid);
  --background-action-heavy-hover: var(--colors-light-orange-600-solid);
  --background-action-light-default: var(--colors-light-orange-100);
  --background-action-light-hover: var(--colors-light-orange-200);
  --background-action-medium-default: var(--colors-light-orange-100);
  --background-action-medium-hover: var(--colors-light-orange-200);
  --background-basic-background-page: var(--colors-light-black-40-solid);
  --background-basic-generic: var(--colors-light-white-1000-solid);
  --background-basic-generic-disabled: var(--colors-light-black-50);
  --background-basic-generic-heavy: var(--colors-light-black-150);
  --background-basic-generic-medium: var(--colors-light-black-70);
  --background-basic-generic-medium-hover: var(--colors-light-black-100);
  --background-basic-overlay: var(--colors-light-black-250);
  --background-basic-skeleton: var(--colors-light-black-100-solid);
  --background-brand-heavy-default: var(--colors-light-blue-600-solid);
  --background-brand-heavy-hover: var(--colors-light-blue-700-solid);
  --background-brand-light-default: var(--colors-light-blue-100);
  --background-brand-light-hover: var(--colors-light-blue-150);
  --background-brand-medium-default: var(--colors-light-blue-200);
  --background-brand-medium-hover: var(--colors-light-blue-250);
  --background-contrast-dark-heavy-default: var(--colors-light-black-960-solid);
  --background-contrast-dark-heavy-hover: var(--colors-light-black-960-solid);
  --background-contrast-dark-light-default: var(--colors-light-black-70);
  --background-contrast-dark-light-hover: var(--colors-light-black-100);
  --background-contrast-dark-medium-default: var(--colors-light-black-100);
  --background-contrast-dark-medium-hover: var(--colors-light-black-150);
  --background-contrast-light-heavy-default: var(--colors-light-white-950);
  --background-contrast-light-heavy-hover: var(--colors-light-white-650);
  --background-contrast-light-light-default: var(--colors-light-white-100);
  --background-contrast-light-light-hover: var(--colors-light-white-150);
  --background-contrast-light-medium-default: var(--colors-light-white-150);
  --background-contrast-light-medium-hover: var(--colors-light-white-200);
  --background-danger-heavy-default: var(--colors-light-red-600-solid);
  --background-danger-heavy-hover: var(--colors-light-red-700-solid);
  --background-danger-light-default: var(--colors-light-red-100);
  --background-danger-light-hover: var(--colors-light-red-150);
  --background-danger-medium-default: var(--colors-light-red-150);
  --background-danger-medium-hover: var(--colors-light-red-200);
  --background-info-heavy-default: var(--colors-light-sky-500-solid);
  --background-info-heavy-hover: var(--colors-light-sky-600-solid);
  --background-info-light-default: var(--colors-light-sky-100);
  --background-info-light-hover: var(--colors-light-sky-150);
  --background-info-medium-default: var(--colors-light-sky-150);
  --background-info-medium-hover: var(--colors-light-sky-200);
  --background-inverse-heavy-default: var(--colors-light-black-900-solid);
  --background-inverse-heavy-hover: var(--colors-light-black-980-solid);
  --background-inverse-light-default: var(--background-basic-generic-medium);
  --background-inverse-light-hover: var(--background-basic-generic-medium-hover);
  --background-inverse-medium-default: var(--background-basic-generic-heavy);
  --background-inverse-medium-hover: var(--colors-light-black-120-solid);
  --background-positive-heavy-default: var(--colors-light-green-600-solid);
  --background-positive-heavy-hover: var(--colors-light-green-700-solid);
  --background-positive-light-default: var(--colors-light-green-100);
  --background-positive-light-hover: var(--colors-light-green-150);
  --background-positive-medium-default: var(--colors-light-green-150);
  --background-positive-medium-hover: var(--colors-light-green-200);
  --background-utility-heavy-default: var(--colors-light-purple-700-solid);
  --background-utility-heavy-hover: var(--colors-light-purple-800-solid);
  --background-utility-light-default: var(--colors-light-purple-100);
  --background-utility-light-hover: var(--colors-light-purple-150);
  --background-utility-medium-default: var(--colors-light-purple-150);
  --background-utility-medium-hover: var(--colors-light-purple-200);
  --background-warning-heavy-default: var(--colors-light-yellow-500-solid);
  --background-warning-heavy-hover: var(--colors-light-yellow-600-solid);
  --background-warning-light-default: var(--colors-light-yellow-100);
  --background-warning-light-hover: var(--colors-light-yellow-150);
  --background-warning-medium-default: var(--colors-light-yellow-150);
  --background-warning-medium-hover: var(--colors-light-yellow-200);
  --line-action-heavy: var(--background-action-heavy-default);
  --line-action-light: var(--colors-light-orange-300);
  --line-action-medium: var(--colors-light-orange-400);
  --line-basic-generic: var(--colors-light-black-80-solid);
  --line-basic-generic-disabled: var(--colors-light-black-120-solid);
  --line-basic-generic-hover: var(--colors-light-black-100-solid);
  --line-brand-heavy: var(--colors-light-blue-700-solid);
  --line-brand-light: var(--colors-light-blue-350);
  --line-brand-medium: var(--colors-light-blue-450);
  --line-contrast-dark-heavy: var(--colors-light-black-900);
  --line-contrast-dark-light: var(--colors-light-black-450);
  --line-contrast-dark-medium: var(--colors-light-black-750);
  --line-contrast-light-heavy: var(--background-contrast-light-heavy-default);
  --line-contrast-light-light: var(--colors-light-white-200);
  --line-contrast-light-medium: var(--colors-light-white-850);
  --line-danger-heavy: var(--background-danger-heavy-default);
  --line-danger-light: var(--colors-light-red-350);
  --line-danger-medium: var(--colors-light-red-450);
  --line-info-heavy: var(--background-info-heavy-default);
  --line-info-light: var(--colors-light-sky-350);
  --line-info-medium: var(--colors-light-sky-450);
  --line-inverse-heavy: var(--colors-light-black-900-solid);
  --line-inverse-light: var(--colors-light-black-300-solid);
  --line-inverse-medium: var(--colors-light-black-700-solid);
  --line-positive-heavy: var(--background-positive-heavy-default);
  --line-positive-light: var(--colors-light-green-350);
  --line-positive-medium: var(--colors-light-green-450);
  --line-utility-heavy: var(--background-utility-heavy-default);
  --line-utility-light: var(--colors-light-purple-350);
  --line-utility-medium: var(--colors-light-purple-450);
  --line-warning-heavy: var(--background-warning-heavy-default);
  --line-warning-light: var(--colors-light-yellow-350);
  --line-warning-medium: var(--colors-light-yellow-450);
  --text-action-heavy: var(--background-action-heavy-default);
  --text-action-light: var(--colors-light-orange-300);
  --text-action-medium: var(--colors-light-orange-400);
  --text-basic-complementary: var(--colors-light-black-640-solid);
  --text-basic-hint: var(--colors-light-black-200-solid);
  --text-basic-primary: var(--colors-light-black-900-solid);
  --text-basic-secondary: var(--colors-light-black-460-solid);
  --text-brand-heavy: var(--background-brand-heavy-default);
  --text-brand-light: var(--colors-light-blue-350);
  --text-brand-medium: var(--colors-light-blue-450);
  --text-contrast-dark-heavy: var(--colors-light-black-900);
  --text-contrast-dark-light: var(--colors-light-black-450);
  --text-contrast-dark-medium: var(--colors-light-black-750);
  --text-contrast-light-heavy: var(--colors-light-white-950);
  --text-contrast-light-light: var(--colors-light-white-550);
  --text-contrast-light-medium: var(--colors-light-white-850);
  --text-danger-heavy: var(--background-danger-heavy-default);
  --text-danger-light: var(--colors-light-red-350);
  --text-danger-medium: var(--colors-light-red-450);
  --text-info-heavy: var(--background-info-heavy-default);
  --text-info-light: var(--colors-light-sky-350);
  --text-info-medium: var(--colors-light-sky-450);
  --text-inverse-heavy: var(--text-basic-primary);
  --text-inverse-light: var(--text-basic-secondary);
  --text-inverse-medium: var(--text-basic-complementary);
  --text-inverse-additional-heavy: var(--colors-light-white-950);
  --text-inverse-additional-light: var(--colors-light-white-350);
  --text-inverse-additional-medium: var(--colors-light-white-500);
  --text-positive-heavy: var(--background-positive-heavy-default);
  --text-positive-light: var(--colors-light-green-350);
  --text-positive-medium: var(--colors-light-green-450);
  --text-utility-heavy: var(--background-utility-heavy-default);
  --text-utility-light: var(--colors-light-purple-350);
  --text-utility-medium: var(--colors-light-purple-450);
  --text-warning-heavy: var(--background-warning-heavy-default);
  --text-warning-light: var(--colors-light-yellow-350);
  --text-warning-medium: var(--colors-light-yellow-450);
}
.themes_dark {
  /* color */
  --background-action-heavy-default: var(--colors-dark-orange-400-solid);
  --background-action-heavy-hover: var(--colors-dark-orange-500-solid);
  --background-action-light-default: var(--colors-dark-orange-100);
  --background-action-light-hover: var(--colors-dark-orange-150);
  --background-action-medium-default: var(--colors-dark-orange-150);
  --background-action-medium-hover: var(--colors-dark-orange-200);
  --background-basic-background-page: var(--colors-dark-white-40-solid);
  --background-basic-generic: var(--colors-dark-white-80-solid);
  --background-basic-generic-disabled: var(--colors-dark-white-50);
  --background-basic-generic-heavy: var(--colors-dark-white-150);
  --background-basic-generic-medium: var(--colors-dark-white-70);
  --background-basic-generic-medium-hover: var(--colors-dark-white-100);
  --background-basic-overlay: var(--colors-dark-black-250);
  --background-basic-skeleton: var(--colors-dark-white-100-solid);
  --background-brand-heavy-default: var(--colors-dark-blue-400-solid);
  --background-brand-heavy-hover: var(--colors-dark-blue-500-solid);
  --background-brand-light-default: var(--colors-dark-blue-100);
  --background-brand-light-hover: var(--colors-dark-blue-150);
  --background-brand-medium-default: var(--colors-dark-blue-200);
  --background-brand-medium-hover: var(--colors-dark-blue-250);
  --background-contrast-dark-heavy-default: var(--colors-dark-white-20-solid);
  --background-contrast-dark-heavy-hover: var(--colors-dark-white-40-solid);
  --background-contrast-dark-light-default: var(--colors-dark-black-50);
  --background-contrast-dark-light-hover: var(--colors-dark-black-70);
  --background-contrast-dark-medium-default: var(--colors-dark-black-70);
  --background-contrast-dark-medium-hover: var(--colors-dark-black-100);
  --background-contrast-light-heavy-default: var(--colors-dark-white-950);
  --background-contrast-light-heavy-hover: var(--colors-dark-white-900);
  --background-contrast-light-light-default: var(--colors-dark-white-150);
  --background-contrast-light-light-hover: var(--colors-dark-white-200);
  --background-contrast-light-medium-default: var(--colors-dark-white-200);
  --background-contrast-light-medium-hover: var(--colors-dark-white-250);
  --background-danger-heavy-default: var(--colors-dark-red-400-solid);
  --background-danger-heavy-hover: var(--colors-dark-red-500-solid);
  --background-danger-light-default: var(--colors-dark-red-100);
  --background-danger-light-hover: var(--colors-dark-red-150);
  --background-danger-medium-default: var(--colors-dark-red-150);
  --background-danger-medium-hover: var(--colors-dark-red-200);
  --background-info-heavy-default: var(--colors-dark-sky-500-solid);
  --background-info-heavy-hover: var(--colors-dark-sky-600-solid);
  --background-info-light-default: var(--colors-dark-sky-100);
  --background-info-light-hover: var(--colors-dark-sky-150);
  --background-info-medium-default: var(--colors-dark-sky-150);
  --background-info-medium-hover: var(--colors-dark-sky-200);
  --background-inverse-heavy-default: var(--colors-dark-white-900-solid);
  --background-inverse-heavy-hover: var(--colors-dark-white-980-solid);
  --background-inverse-light-default: var(--background-basic-generic-medium);
  --background-inverse-light-hover: var(--background-basic-generic-medium-hover);
  --background-inverse-medium-default: var(--background-basic-generic-heavy);
  --background-inverse-medium-hover: var(--colors-dark-white-140-solid);
  --background-positive-heavy-default: var(--colors-dark-green-400-solid);
  --background-positive-heavy-hover: var(--colors-dark-green-500-solid);
  --background-positive-light-default: var(--colors-dark-green-100);
  --background-positive-light-hover: var(--colors-dark-green-150);
  --background-positive-medium-default: var(--colors-dark-green-150);
  --background-positive-medium-hover: var(--colors-dark-green-200);
  --background-utility-heavy-default: var(--colors-dark-purple-500-solid);
  --background-utility-heavy-hover: var(--colors-dark-purple-600-solid);
  --background-utility-light-default: var(--colors-dark-purple-100);
  --background-utility-light-hover: var(--colors-dark-purple-150);
  --background-utility-medium-default: var(--colors-dark-purple-150);
  --background-utility-medium-hover: var(--colors-dark-purple-200);
  --background-warning-heavy-default: var(--colors-dark-yellow-400-solid);
  --background-warning-heavy-hover: var(--colors-dark-yellow-500-solid);
  --background-warning-light-default: var(--colors-dark-yellow-100);
  --background-warning-light-hover: var(--colors-dark-yellow-150);
  --background-warning-medium-default: var(--colors-dark-yellow-150);
  --background-warning-medium-hover: var(--colors-dark-yellow-200);
  --line-action-heavy: var(--background-action-heavy-default);
  --line-action-light: var(--colors-dark-orange-250);
  --line-action-medium: var(--colors-dark-orange-400);
  --line-basic-generic: var(--colors-dark-white-120-solid);
  --line-basic-generic-disabled: var(--colors-dark-white-160-solid);
  --line-basic-generic-hover: var(--colors-dark-white-140-solid);
  --line-brand-heavy: var(--colors-light-blue-700-solid);
  --line-brand-light: var(--colors-dark-blue-250);
  --line-brand-medium: var(--colors-dark-blue-400);
  --line-contrast-dark-heavy: var(--colors-light-black-900);
  --line-contrast-dark-light: var(--colors-light-black-450);
  --line-contrast-dark-medium: var(--colors-light-black-750);
  --line-contrast-light-heavy: var(--background-contrast-light-heavy-default);
  --line-contrast-light-light: var(--colors-dark-white-200);
  --line-contrast-light-medium: var(--colors-dark-white-800);
  --line-danger-heavy: var(--background-danger-heavy-default);
  --line-danger-light: var(--colors-dark-red-250);
  --line-danger-medium: var(--colors-dark-red-400);
  --line-info-heavy: var(--background-info-heavy-default);
  --line-info-light: var(--colors-dark-sky-250);
  --line-info-medium: var(--colors-dark-sky-400);
  --line-inverse-heavy: var(--colors-dark-white-900);
  --line-inverse-light: var(--colors-dark-white-420-solid);
  --line-inverse-medium: var(--colors-dark-white-840-solid);
  --line-positive-heavy: var(--background-positive-heavy-default);
  --line-positive-light: var(--colors-dark-green-250);
  --line-positive-medium: var(--colors-dark-green-400);
  --line-utility-heavy: var(--background-utility-heavy-default);
  --line-utility-light: var(--colors-dark-purple-250);
  --line-utility-medium: var(--colors-dark-purple-450);
  --line-warning-heavy: var(--background-warning-heavy-default);
  --line-warning-light: var(--colors-dark-yellow-250);
  --line-warning-medium: var(--colors-dark-yellow-450);
  --text-action-heavy: var(--background-action-heavy-default);
  --text-action-light: var(--colors-dark-orange-250);
  --text-action-medium: var(--colors-dark-orange-400);
  --text-basic-complementary: var(--colors-dark-white-800-solid);
  --text-basic-hint: var(--colors-dark-white-300-solid);
  --text-basic-primary: var(--colors-dark-white-940-solid);
  --text-basic-secondary: var(--colors-dark-white-460-solid);
  --text-brand-heavy: var(--background-brand-heavy-default);
  --text-brand-light: var(--colors-dark-blue-250);
  --text-brand-medium: var(--colors-dark-blue-400);
  --text-contrast-dark-heavy: var(--colors-light-black-900);
  --text-contrast-dark-light: var(--colors-light-black-450);
  --text-contrast-dark-medium: var(--colors-light-black-750);
  --text-contrast-light-heavy: var(--colors-dark-white-950);
  --text-contrast-light-light: var(--colors-dark-white-600);
  --text-contrast-light-medium: var(--colors-dark-white-800);
  --text-danger-heavy: var(--background-danger-heavy-default);
  --text-danger-light: var(--colors-dark-red-250);
  --text-danger-medium: var(--colors-dark-red-400);
  --text-info-heavy: var(--background-info-heavy-default);
  --text-info-light: var(--colors-dark-sky-250);
  --text-info-medium: var(--colors-dark-sky-400);
  --text-inverse-heavy: var(--text-basic-primary);
  --text-inverse-light: var(--text-basic-secondary);
  --text-inverse-medium: var(--text-basic-complementary);
  --text-inverse-additional-heavy: var(--colors-dark-black-900);
  --text-inverse-additional-light: var(--colors-dark-black-350);
  --text-inverse-additional-medium: var(--colors-dark-black-550);
  --text-positive-heavy: var(--background-positive-heavy-default);
  --text-positive-light: var(--colors-dark-green-250);
  --text-positive-medium: var(--colors-dark-green-400);
  --text-utility-heavy: var(--background-utility-heavy-default);
  --text-utility-light: var(--colors-dark-purple-250);
  --text-utility-medium: var(--colors-dark-purple-450);
  --text-warning-heavy: var(--background-warning-heavy-default);
  --text-warning-light: var(--colors-dark-yellow-250);
  --text-warning-medium: var(--colors-dark-yellow-400);
}