.spacings {
  /* number */
  --component-md-padding-y: var(--generic-spacing-0);
  --component-md-gap: var(--generic-spacing-4);
  --component-md-padding-x: var(--generic-spacing-8);
  --component-md-height: var(--generic-spacing-16);
  --component-md-icon-only-dimensions: var(--component-md-height);
  --component-sm-padding-y: var(--generic-spacing-0);
  --component-sm-gap: var(--generic-spacing-3);
  --component-sm-padding-x: var(--generic-spacing-7);
  --component-sm-height: var(--generic-spacing-14);
  --component-sm-icon-only-dimensions: var(--component-sm-height);
  --component-xs-padding-y: var(--generic-spacing-0);
  --component-xs-gap: var(--generic-spacing-2);
  --component-xs-padding-x: var(--generic-spacing-4);
  --component-xs-height: var(--generic-spacing-12);
  --component-xs-icon-only-dimensions: var(--component-xs-height);
  --generic-spacing-0: 0px;
  --generic-spacing-05: 2px;
  --generic-spacing-1: 4px;
  --generic-spacing-2: 6px;
  --generic-spacing-3: 8px;
  --generic-spacing-4: 10px;
  --generic-spacing-5: 12px;
  --generic-spacing-6: 14px;
  --generic-spacing-7: 16px;
  --generic-spacing-8: 18px;
  --generic-spacing-9: 20px;
  --generic-spacing-10: 22px;
  --generic-spacing-11: 24px;
  --generic-spacing-12: 28px;
  --generic-spacing-13: 32px;
  --generic-spacing-14: 36px;
  --generic-spacing-15: 40px;
  --generic-spacing-16: 44px;
  --generic-spacing-17: 48px;
  --generic-spacing-18: 52px;
  --generic-spacing-19: 56px;
  --generic-spacing-20: 60px;
  --input-md-padding-y: var(--generic-spacing-0);
  --input-md-gapcontainercontent: var(--generic-spacing-1);
  --input-md-gap-hint: var(--generic-spacing-2);
  --input-md-gap-body: var(--generic-spacing-5);
  --input-md-padding-inputtag-y: var(--generic-spacing-5);
  --input-md-padding-x: var(--generic-spacing-8);
  --input-md-height: var(--generic-spacing-19);
  --input-sm-padding-y: var(--generic-spacing-0);
  --input-sm-gapcontainercontent: var(--generic-spacing-1);
  --input-sm-gap-hint: var(--generic-spacing-2);
  --input-sm-padding-inputtag-y: var(--generic-spacing-3);
  --input-sm-gap-body: var(--generic-spacing-4);
  --input-sm-padding-x: var(--generic-spacing-7);
  --input-sm-height: var(--generic-spacing-18);
  --input-xs-padding-y: var(--generic-spacing-0);
  --input-xs-gapcontainercontent: var(--generic-spacing-05); 
  --input-xs-gap-hint: var(--generic-spacing-2);
  --input-xs-padding-inputtag-y: var(--generic-spacing-2);
  --input-xs-gap-body: var(--generic-spacing-3);
  --input-xs-padding-x: var(--generic-spacing-6);
  --input-xs-height: var(--generic-spacing-17);
}