 .TypoComponent {
  /* number */
  --lg-letter-spacing: 0.20000000298023224;
  --lg-paragraph-spacing: 8;
  --lg-font-size: 18;
  --lg-line-height: 22;
  --lg-regular: 400;
  --lg-medium: 500;
  --lg-semibold: 600;
  --md-letter-spacing: 0.20000000298023224;
  --md-paragraph-spacing: 8;
  --md-font-size: 16;
  --md-line-height: 18;
  --md-regular: 400;
  --md-medium: 500;
  --md-semibold: 600;
  --sm-letter-spacing: 0.20000000298023224;
  --sm-paragraph-spacing: 7;
  --sm-font-size: 14;
  --sm-line-height: 16;
  --sm-regular: 400;
  --sm-medium: 500;
  --sm-semibold: 600;
  --xs-letter-spacing: 0.20000000298023224;
  --xs-paragraph-spacing: 6;
  --xs-font-size: 12;
  --xs-line-height: 14;
  --xs-regular: 400;
  --xs-medium: 500;
  --xs-semibold: 600;
  --xxs-letter-spacing: 0.20000000298023224;
  --xxs-paragraph-spacing: 6;
  --xxs-font-size: 10;
  --xxs-line-height: 12;
  --xxs-regular: 400;
  --xxs-medium: 500;
  --xxs-semibold: 600;
}