.typography {
  /* number */
  --typography-body-b1-letter-spacing: 0.10000000149011612;
  --typography-body-b1-paragraph-spacing: 9;
  --typography-body-b1-font-size: 16;
  --typography-body-b1-line-height: 20;
  --typography-body-b1-font-weight-regular: 400;
  --typography-body-b1-font-weight-medium: 500;
  --typography-body-b1-font-weight-semibold: 600;
  --typography-body-b2-letter-spacing: 0.10000000149011612;
  --typography-body-b2-paragraph-spacing: 8;
  --typography-body-b2-font-size: 14;
  --typography-body-b2-line-height: 20;
  --typography-body-b2-font-weight-regular: 400;
  --typography-body-b2-font-weight-medium: 500;
  --typography-body-b2-font-weight-semibold: 600;
  --typography-body-b3-letter-spacing: 0.20000000298023224;
  --typography-body-b3-paragraph-spacing: 7;
  --typography-body-b3-font-size: 12;
  --typography-body-b3-line-height: 16;
  --typography-body-b3-font-weight-regular: 400;
  --typography-body-b3-font-weight-medium: 500;
  --typography-body-b3-font-weight-semibold: 600;
  --typography-caption-c1-paragraph-spacing: 0;
  --typography-caption-c1-letter-spacing: 0.20000000298023224;
  --typography-caption-c1-font-size: 10;
  --typography-caption-c1-line-height: 12;
  --typography-caption-c1-font-weight-regular: 400;
  --typography-caption-c2-paragraph-spacing: 0;
  --typography-caption-c2-letter-spacing: 0.20000000298023224;
  --typography-caption-c2-font-size: 9;
  --typography-caption-c2-line-height: 11;
  --typography-caption-c2-font-weight-regular: 400;
  --typography-display-d1-paragraph-spacing: 0;
  --typography-display-d1-letter-spacing: 0.20000000298023224;
  --typography-display-d1-font-size: 48;
  --typography-display-d1-line-height: 52;
  --typography-display-d1-font-weight-medium: 500;
  --typography-display-d1-font-weight-bold: 700;
  --typography-display-d2-paragraph-spacing: 0;
  --typography-display-d2-letter-spacing: 0.20000000298023224;
  --typography-display-d2-font-size: 44;
  --typography-display-d2-line-height: 48;
  --typography-display-d2-font-weight-medium: 500;
  --typography-display-d2-font-weight-bold: 700;
  --typography-display-d3-paragraph-spacing: 0;
  --typography-display-d3-letter-spacing: 0.20000000298023224;
  --typography-display-d3-font-size: 40;
  --typography-display-d3-line-height: 44;
  --typography-display-d3-font-weight-medium: 500;
  --typography-display-d3-font-weight-bold: 700;
  --typography-heading-h1-paragraph-spacing: 0;
  --typography-heading-h1-letter-spacing: 0.20000000298023224;
  --typography-heading-h1-font-size: 32;
  --typography-heading-h1-line-height: 36;
  --typography-heading-h1-font-weight-medium: 500;
  --typography-heading-h1-font-weight-bold: 700;
  --typography-heading-h2-paragraph-spacing: 0;
  --typography-heading-h2-letter-spacing: 0.20000000298023224;
  --typography-heading-h2-font-size: 28;
  --typography-heading-h2-line-height: 32;
  --typography-heading-h2-font-weight-medium: 500;
  --typography-heading-h2-font-weight-bold: 700;
  --typography-heading-h3-paragraph-spacing: 0;
  --typography-heading-h3-letter-spacing: 0.20000000298023224;
  --typography-heading-h3-font-size: 24;
  --typography-heading-h3-line-height: 28;
  --typography-heading-h3-font-weight-medium: 500;
  --typography-heading-h3-font-weight-bold: 700;
  --typography-heading-h4-paragraph-spacing: 0;
  --typography-heading-h4-letter-spacing: 0.20000000298023224;
  --typography-heading-h4-font-size: 20;
  --typography-heading-h4-line-height: 24;
  --typography-heading-h4-font-weight-medium: 500;
  --typography-heading-h4-font-weight-bold: 700;
  --typography-heading-h5-paragraph-spacing: 0;
  --typography-heading-h5-letter-spacing: 0.20000000298023224;
  --typography-heading-h5-font-size: 18;
  --typography-heading-h5-line-height: 22;
  --typography-heading-h5-font-weight-medium: 500;
  --typography-heading-h5-font-weight-bold: 700;
  /* string */
  --font-family: Roboto Flex;
}