.Value {
  /* color */
  --colors-dark-black-100: hsl(0 0 0% / 0.1);
  --colors-dark-black-150: hsl(0 0 0% / 0.15);
  --colors-dark-black-200: hsl(0 0 0% / 0.2);
  --colors-dark-black-250: hsl(0 0 0% / 0.25);
  --colors-dark-black-300: hsl(0 0 0% / 0.3);
  --colors-dark-black-350: hsl(0 0 0% / 0.35);
  --colors-dark-black-400: hsl(0 0 0% / 0.4);
  --colors-dark-black-450: hsl(0 0 0% / 0.45);
  --colors-dark-black-50: hsl(0 0 0% / 0.05);
  --colors-dark-black-500: hsl(0 0 0% / 0.5);
  --colors-dark-black-550: hsl(0 0 0% / 0.55);
  --colors-dark-black-600: hsl(0 0 0% / 0.6);
  --colors-dark-black-650: hsl(0 0 0% / 0.65);
  --colors-dark-black-70: hsl(0 0 0% / 0.07);
  --colors-dark-black-700: hsl(0 0 0% / 0.7);
  --colors-dark-black-750: hsl(0 0 0% / 0.75);
  --colors-dark-black-800: hsl(0 0 0% / 0.8);
  --colors-dark-black-850: hsl(0 0 0% / 0.85);
  --colors-dark-black-900: hsl(0 0 0% / 0.9);
  --colors-dark-black-950: hsl(0 0 0% / 0.95);
  --colors-dark-blue-100: hsl(216 100% 52% / 0.1);
  --colors-dark-blue-100-solid: hsl(225 67% 33%);
  --colors-dark-blue-150: hsl(216 100% 52% / 0.2);
  --colors-dark-blue-20: hsl(216 100% 52% / 0.02);
  --colors-dark-blue-200: hsl(216 100% 52% / 0.3);
  --colors-dark-blue-200-solid: hsl(227 76% 41%);
  --colors-dark-blue-250: hsl(216 100% 52% / 0.4);
  --colors-dark-blue-300: hsl(216 100% 52% / 0.5);
  --colors-dark-blue-300-solid: hsl(225 84% 49%);
  --colors-dark-blue-350: hsl(216 100% 52% / 0.6);
  --colors-dark-blue-400: hsl(216 100% 52% / 0.7);
  --colors-dark-blue-400-solid: hsl(221 97% 54%);
  --colors-dark-blue-450: hsl(216 100% 52% / 0.8);
  --colors-dark-blue-50: hsl(216 100% 52% / 0.05);
  --colors-dark-blue-50-solid: hsl(227 59% 21%);
  --colors-dark-blue-500: hsl(216 100% 52% / 0.9);
  --colors-dark-blue-500-solid: hsl(216 100% 54%);
  --colors-dark-blue-600-solid: hsl(212 96% 56%);
  --colors-dark-blue-700-solid: hsl(211 100% 78%);
  --colors-dark-blue-800-solid: hsl(213 100% 87%);
  --colors-dark-blue-900-solid: hsl(214 95% 93%);
  --colors-dark-blue-950-solid: hsl(214 100% 97%);
  --colors-dark-cold-grey-100-solid: hsl(210 40% 98%);
  --colors-dark-cold-grey-150: hsl(220 17% 53% / 0.15);
  --colors-dark-cold-grey-150-solid: hsl(210 40% 96%);
  --colors-dark-cold-grey-20: hsl(220 17% 53% / 0.02);
  --colors-dark-cold-grey-200: hsl(220 17% 53% / 0.3);
  --colors-dark-cold-grey-200-solid: hsl(215 38% 94%);
  --colors-dark-cold-grey-250: hsl(220 17% 53% / 0.4);
  --colors-dark-cold-grey-250-solid: hsl(214 32% 91%);
  --colors-dark-cold-grey-300: hsl(220 17% 53% / 0.5);
  --colors-dark-cold-grey-300-solid: hsl(213 28% 87%);
  --colors-dark-cold-grey-350: hsl(220 17% 53% / 0.6);
  --colors-dark-cold-grey-350-solid: hsl(213 27% 84%);
  --colors-dark-cold-grey-400: hsl(220 17% 53% / 0.7);
  --colors-dark-cold-grey-400-solid: hsl(216 22% 76%);
  --colors-dark-cold-grey-450: hsl(220 17% 53% / 0.8);
  --colors-dark-cold-grey-450-solid: hsl(217 21% 69%);
  --colors-dark-cold-grey-50: hsl(220 17% 53% / 0.05);
  --colors-dark-cold-grey-500: hsl(220 17% 53% / 0.9);
  --colors-dark-cold-grey-500-solid: hsl(218 19% 60%);
  --colors-dark-cold-grey-550-solid: hsl(220 17% 53%);
  --colors-dark-cold-grey-600-solid: hsl(219 17% 45%);
  --colors-dark-cold-grey-650-solid: hsl(218 20% 38%);
  --colors-dark-cold-grey-700-solid: hsl(217 23% 32%);
  --colors-dark-cold-grey-750-solid: hsl(215 25% 27%);
  --colors-dark-cold-grey-800-solid: hsl(216 25% 22%);
  --colors-dark-cold-grey-850-solid: hsl(215 28% 17%);
  --colors-dark-cold-grey-90: hsl(220 17% 53% / 0.06);
  --colors-dark-cold-grey-900-solid: hsl(215 34% 14%);
  --colors-dark-cold-grey-950-solid: hsl(222 47% 11%);
  --colors-dark-green-100: hsl(142 100% 33% / 0.1);
  --colors-dark-green-100-solid: hsl(145 73% 19%);
  --colors-dark-green-150: hsl(142 100% 33% / 0.2);
  --colors-dark-green-20: hsl(142 100% 33% / 0.02);
  --colors-dark-green-200: hsl(142 100% 33% / 0.3);
  --colors-dark-green-200-solid: hsl(148 98% 20%);
  --colors-dark-green-250: hsl(142 100% 33% / 0.4);
  --colors-dark-green-300: hsl(142 100% 33% / 0.5);
  --colors-dark-green-300-solid: hsl(145 100% 25%);
  --colors-dark-green-350: hsl(142 100% 33% / 0.6);
  --colors-dark-green-400: hsl(142 100% 33% / 0.7);
  --colors-dark-green-400-solid: hsl(142 100% 33%);
  --colors-dark-green-450: hsl(142 100% 33% / 0.8);
  --colors-dark-green-50: hsl(142 100% 33% / 0.05);
  --colors-dark-green-50-solid: hsl(145 88% 10%);
  --colors-dark-green-500: hsl(142 100% 33% / 0.9);
  --colors-dark-green-500-solid: hsl(144 100% 39%);
  --colors-dark-green-600-solid: hsl(150 96% 45%);
  --colors-dark-green-700-solid: hsl(143 81% 71%);
  --colors-dark-green-800-solid: hsl(141 82% 85%);
  --colors-dark-green-900-solid: hsl(141 84% 93%);
  --colors-dark-green-950-solid: hsl(138 76% 97%);
  --colors-dark-orange-100: hsl(18 100% 48% / 0.1);
  --colors-dark-orange-100-solid: hsl(16 83% 27%);
  --colors-dark-orange-150: hsl(18 100% 48% / 0.2);
  --colors-dark-orange-20: hsl(18 100% 48% / 0.02);
  --colors-dark-orange-200: hsl(18 100% 48% / 0.3);
  --colors-dark-orange-200-solid: hsl(17 100% 31%);
  --colors-dark-orange-250: hsl(18 100% 48% / 0.4);
  --colors-dark-orange-300: hsl(18 100% 48% / 0.5);
  --colors-dark-orange-300-solid: hsl(16 100% 40%);
  --colors-dark-orange-350: hsl(18 100% 48% / 0.6);
  --colors-dark-orange-400: hsl(18 100% 48% / 0.7);
  --colors-dark-orange-400-solid: hsl(18 100% 48%);
  --colors-dark-orange-450: hsl(18 100% 48% / 0.8);
  --colors-dark-orange-50: hsl(18 100% 48% / 0.05);
  --colors-dark-orange-50-solid: hsl(13 84% 15%);
  --colors-dark-orange-500: hsl(18 100% 48% / 0.9);
  --colors-dark-orange-500-solid: hsl(25 100% 50%);
  --colors-dark-orange-600-solid: hsl(32 100% 51%);
  --colors-dark-orange-700-solid: hsl(31 100% 71%);
  --colors-dark-orange-800-solid: hsl(32 100% 83%);
  --colors-dark-orange-900-solid: hsl(35 100% 92%);
  --colors-dark-orange-950-solid: hsl(33 100% 96%);
  --colors-dark-purple-100: hsl(272 72% 47% / 0.1);
  --colors-dark-purple-100-solid: hsl(274 73% 32%);
  --colors-dark-purple-150: hsl(272 72% 47% / 0.2);
  --colors-dark-purple-20: hsl(272 72% 47% / 0.02);
  --colors-dark-purple-200: hsl(272 72% 47% / 0.3);
  --colors-dark-purple-200-solid: hsl(275 82% 38%);
  --colors-dark-purple-250: hsl(272 72% 47% / 0.4);
  --colors-dark-purple-300: hsl(272 72% 47% / 0.5);
  --colors-dark-purple-300-solid: hsl(276 100% 43%);
  --colors-dark-purple-350: hsl(272 72% 47% / 0.6);
  --colors-dark-purple-400: hsl(272 72% 47% / 0.7);
  --colors-dark-purple-400-solid: hsl(275 96% 52%);
  --colors-dark-purple-450: hsl(272 72% 47% / 0.8);
  --colors-dark-purple-50: hsl(272 72% 47% / 0.05);
  --colors-dark-purple-50-solid: hsl(275 94% 21%);
  --colors-dark-purple-500: hsl(272 72% 47% / 0.9);
  --colors-dark-purple-500-solid: hsl(273 100% 64%);
  --colors-dark-purple-600-solid: hsl(272 100% 74%);
  --colors-dark-purple-700-solid: hsl(271 100% 85%);
  --colors-dark-purple-800-solid: hsl(269 100% 92%);
  --colors-dark-purple-900-solid: hsl(269 100% 95%);
  --colors-dark-purple-950-solid: hsl(270 100% 98%);
  --colors-dark-red-100: hsl(357 100% 45% / 0.1);
  --colors-dark-red-100-solid: hsl(359 69% 30%);
  --colors-dark-red-150: hsl(357 100% 45% / 0.2);
  --colors-dark-red-20: hsl(357 100% 45% / 0.02);
  --colors-dark-red-200: hsl(357 100% 45% / 0.3);
  --colors-dark-red-200-solid: hsl(356 92% 33%);
  --colors-dark-red-250: hsl(357 100% 45% / 0.4);
  --colors-dark-red-300: hsl(357 100% 45% / 0.5);
  --colors-dark-red-300-solid: hsl(358 100% 38%);
  --colors-dark-red-350: hsl(357 100% 45% / 0.6);
  --colors-dark-red-400: hsl(357 100% 45% / 0.7);
  --colors-dark-red-400-solid: hsl(357 100% 45%);
  --colors-dark-red-450: hsl(357 100% 45% / 0.8);
  --colors-dark-red-50: hsl(357 100% 45% / 0.05);
  --colors-dark-red-50-solid: hsl(359 79% 15%);
  --colors-dark-red-500: hsl(357 100% 45% / 0.9);
  --colors-dark-red-500-solid: hsl(357 96% 58%);
  --colors-dark-red-600-solid: hsl(359 100% 70%);
  --colors-dark-red-700-solid: hsl(0 100% 82%);
  --colors-dark-red-800-solid: hsl(0 100% 89%);
  --colors-dark-red-900-solid: hsl(0 100% 94%);
  --colors-dark-red-950-solid: hsl(0 86% 97%);
  --colors-dark-sky-100: hsl(202 100% 41% / 0.1);
  --colors-dark-sky-100-solid: hsl(201 96% 22%);
  --colors-dark-sky-150: hsl(202 100% 41% / 0.2);
  --colors-dark-sky-20: hsl(202 100% 41% / 0.02);
  --colors-dark-sky-200: hsl(202 100% 41% / 0.3);
  --colors-dark-sky-200-solid: hsl(201 100% 27%);
  --colors-dark-sky-250: hsl(202 100% 41% / 0.4);
  --colors-dark-sky-300: hsl(202 100% 41% / 0.5);
  --colors-dark-sky-300-solid: hsl(203 100% 33%);
  --colors-dark-sky-350: hsl(202 100% 41% / 0.6);
  --colors-dark-sky-400: hsl(202 100% 41% / 0.7);
  --colors-dark-sky-400-solid: hsl(202 100% 41%);
  --colors-dark-sky-450: hsl(202 100% 41% / 0.8);
  --colors-dark-sky-50: hsl(202 100% 41% / 0.05);
  --colors-dark-sky-50-solid: hsl(203 87% 15%);
  --colors-dark-sky-500: hsl(202 100% 41% / 0.9);
  --colors-dark-sky-500-solid: hsl(199 100% 48%);
  --colors-dark-sky-600-solid: hsl(196 100% 50%);
  --colors-dark-sky-700-solid: hsl(199 100% 73%);
  --colors-dark-sky-800-solid: hsl(201 97% 86%);
  --colors-dark-sky-900-solid: hsl(203 94% 94%);
  --colors-dark-sky-950-solid: hsl(204 100% 97%);
  --colors-dark-white-0-solid: hsl(0 0 0%);
  --colors-dark-white-100: hsl(0 0 100% / 0.06);
  --colors-dark-white-100-solid: hsl(240 2% 10%);
  --colors-dark-white-1000-solid: hsl(0 0 100%);
  --colors-dark-white-120-solid: hsl(240 2% 12%);
  --colors-dark-white-140-solid: hsl(240 1% 14%);
  --colors-dark-white-150: hsl(0 0 100% / 0.09);
  --colors-dark-white-160-solid: hsl(210 2% 16%);
  --colors-dark-white-180-solid: hsl(210 2% 18%);
  --colors-dark-white-20-solid: hsl(0 0 4%);
  --colors-dark-white-200: hsl(0 0 100% / 0.2);
  --colors-dark-white-200-solid: hsl(240 2% 20%);
  --colors-dark-white-220-solid: hsl(240 2% 22%);
  --colors-dark-white-240-solid: hsl(220 3% 23%);
  --colors-dark-white-250: hsl(0 0 100% / 0.25);
  --colors-dark-white-260-solid: hsl(220 2% 25%);
  --colors-dark-white-280-solid: hsl(220 2% 27%);
  --colors-dark-white-300: hsl(0 0 100% / 0.3);
  --colors-dark-white-300-solid: hsl(216 3% 29%);
  --colors-dark-white-320-solid: hsl(228 3% 31%);
  --colors-dark-white-340-solid: hsl(228 3% 33%);
  --colors-dark-white-350: hsl(0 0 100% / 0.35);
  --colors-dark-white-360-solid: hsl(228 3% 35%);
  --colors-dark-white-380-solid: hsl(228 3% 37%);
  --colors-dark-white-40-solid: hsl(0 0 4%);
  --colors-dark-white-400: hsl(0 0 100% / 0.4);
  --colors-dark-white-400-solid: hsl(220 3% 39%);
  --colors-dark-white-420-solid: hsl(220 3% 41%);
  --colors-dark-white-440-solid: hsl(220 3% 43%);
  --colors-dark-white-450: hsl(0 0 100% / 0.45);
  --colors-dark-white-460-solid: hsl(220 3% 45%);
  --colors-dark-white-480-solid: hsl(220 3% 47%);
  --colors-dark-white-50: hsl(0 0 100% / 0.02);
  --colors-dark-white-500: hsl(0 0 100% / 0.5);
  --colors-dark-white-500-solid: hsl(231 3% 49%);
  --colors-dark-white-520-solid: hsl(231 3% 51%);
  --colors-dark-white-540-solid: hsl(225 3% 53%);
  --colors-dark-white-550: hsl(0 0 100% / 0.55);
  --colors-dark-white-560-solid: hsl(225 3% 55%);
  --colors-dark-white-580-solid: hsl(225 4% 56%);
  --colors-dark-white-60-solid: hsl(0 0 6%);
  --colors-dark-white-600: hsl(0 0 100% / 0.6);
  --colors-dark-white-600-solid: hsl(225 4% 58%);
  --colors-dark-white-620-solid: hsl(225 4% 60%);
  --colors-dark-white-640-solid: hsl(225 4% 62%);
  --colors-dark-white-650: hsl(0 0 100% / 0.65);
  --colors-dark-white-660-solid: hsl(225 4% 64%);
  --colors-dark-white-680-solid: hsl(225 5% 66%);
  --colors-dark-white-70: hsl(0 0 100% / 0.04);
  --colors-dark-white-700: hsl(0 0 100% / 0.7);
  --colors-dark-white-700-solid: hsl(220 6% 68%);
  --colors-dark-white-720-solid: hsl(220 6% 70%);
  --colors-dark-white-740-solid: hsl(225 6% 73%);
  --colors-dark-white-750: hsl(0 0 100% / 0.75);
  --colors-dark-white-760-solid: hsl(225 6% 75%);
  --colors-dark-white-780-solid: hsl(225 7% 76%);
  --colors-dark-white-80-solid: hsl(0 0 8%);
  --colors-dark-white-800: hsl(0 0 100% / 0.8);
  --colors-dark-white-800-solid: hsl(225 7% 78%);
  --colors-dark-white-820-solid: hsl(223 7% 81%);
  --colors-dark-white-840-solid: hsl(223 8% 83%);
  --colors-dark-white-850: hsl(0 0 100% / 0.85);
  --colors-dark-white-860-solid: hsl(223 9% 85%);
  --colors-dark-white-880-solid: hsl(220 9% 87%);
  --colors-dark-white-900: hsl(0 0 100% / 0.9);
  --colors-dark-white-900-solid: hsl(225 11% 93%);
  --colors-dark-white-920-solid: hsl(210 13% 97%);
  --colors-dark-white-940-solid: hsl(240 10% 96%);
  --colors-dark-white-950: hsl(0 0 100% / 0.95);
  --colors-dark-white-960-solid: hsl(240 7% 97%);
  --colors-dark-white-980-solid: hsl(240 8% 95%);
  --colors-dark-yellow-100: hsl(44 100% 47% / 0.1);
  --colors-dark-yellow-100-solid: hsl(30 84% 25%);
  --colors-dark-yellow-150: hsl(44 100% 47% / 0.2);
  --colors-dark-yellow-20: hsl(44 100% 47% / 0.02);
  --colors-dark-yellow-200: hsl(44 100% 47% / 0.3);
  --colors-dark-yellow-200-solid: hsl(33 100% 27%);
  --colors-dark-yellow-250: hsl(44 100% 47% / 0.4);
  --colors-dark-yellow-300: hsl(44 100% 47% / 0.5);
  --colors-dark-yellow-300-solid: hsl(34 100% 33%);
  --colors-dark-yellow-350: hsl(44 100% 47% / 0.6);
  --colors-dark-yellow-400: hsl(44 100% 47% / 0.7);
  --colors-dark-yellow-400-solid: hsl(39 100% 41%);
  --colors-dark-yellow-450: hsl(44 100% 47% / 0.8);
  --colors-dark-yellow-50: hsl(44 100% 47% / 0.05);
  --colors-dark-yellow-50-solid: hsl(27 89% 14%);
  --colors-dark-yellow-500: hsl(44 100% 47% / 0.9);
  --colors-dark-yellow-500-solid: hsl(44 100% 47%);
  --colors-dark-yellow-600-solid: hsl(47 100% 50%);
  --colors-dark-yellow-700-solid: hsl(51 100% 56%);
  --colors-dark-yellow-800-solid: hsl(53 100% 76%);
  --colors-dark-yellow-900-solid: hsl(55 97% 88%);
  --colors-dark-yellow-950-solid: hsl(55 92% 95%);
  --colors-light-black-0-solid: hsl(0 0 100%);
  --colors-light-black-100: hsl(0 0 0% / 0.1);
  --colors-light-black-100-solid: hsl(230 11% 93%);
  --colors-light-black-1000-solid: hsl(0 0 0%);
  --colors-light-black-120-solid: hsl(220 9% 89%);
  --colors-light-black-140-solid: hsl(223 9% 85%);
  --colors-light-black-150: hsl(0 0 0% / 0.15);
  --colors-light-black-160-solid: hsl(223 8% 83%);
  --colors-light-black-180-solid: hsl(223 7% 81%);
  --colors-light-black-20-solid: hsl(240 9% 95%);
  --colors-light-black-200: hsl(0 0 0% / 0.2);
  --colors-light-black-200-solid: hsl(225 7% 78%);
  --colors-light-black-220-solid: hsl(225 7% 76%);
  --colors-light-black-240-solid: hsl(225 6% 75%);
  --colors-light-black-250: hsl(0 0 0% / 0.25);
  --colors-light-black-260-solid: hsl(225 6% 73%);
  --colors-light-black-280-solid: hsl(220 6% 70%);
  --colors-light-black-300: hsl(0 0 0% / 0.3);
  --colors-light-black-300-solid: hsl(220 6% 68%);
  --colors-light-black-320-solid: hsl(225 5% 66%);
  --colors-light-black-340-solid: hsl(225 4% 64%);
  --colors-light-black-350: hsl(0 0 0% / 0.35);
  --colors-light-black-360-solid: hsl(225 4% 62%);
  --colors-light-black-380-solid: hsl(225 4% 60%);
  --colors-light-black-40-solid: hsl(240 8% 97%);
  --colors-light-black-400: hsl(0 0 0% / 0.4);
  --colors-light-black-400-solid: hsl(225 4% 58%);
  --colors-light-black-420-solid: hsl(225 4% 56%);
  --colors-light-black-440-solid: hsl(225 3% 55%);
  --colors-light-black-450: hsl(0 0 0% / 0.45);
  --colors-light-black-460-solid: hsl(225 3% 53%);
  --colors-light-black-480-solid: hsl(231 3% 51%);
  --colors-light-black-50: hsl(0 0 0% / 0.04);
  --colors-light-black-500: hsl(0 0 0% / 0.5);
  --colors-light-black-500-solid: hsl(231 3% 49%);
  --colors-light-black-520-solid: hsl(220 3% 47%);
  --colors-light-black-540-solid: hsl(220 3% 45%);
  --colors-light-black-550: hsl(0 0 0% / 0.55);
  --colors-light-black-560-solid: hsl(220 3% 43%);
  --colors-light-black-580-solid: hsl(220 3% 41%);
  --colors-light-black-60-solid: hsl(225 12% 96%);
  --colors-light-black-600: hsl(0 0 0% / 0.6);
  --colors-light-black-600-solid: hsl(220 3% 39%);
  --colors-light-black-620-solid: hsl(228 3% 37%);
  --colors-light-black-640-solid: hsl(228 3% 35%);
  --colors-light-black-650: hsl(0 0 0% / 0.65);
  --colors-light-black-660-solid: hsl(228 3% 33%);
  --colors-light-black-680-solid: hsl(228 3% 31%);
  --colors-light-black-70: hsl(0 0 0% / 0.06);
  --colors-light-black-700: hsl(0 0 0% / 0.7);
  --colors-light-black-700-solid: hsl(216 3% 29%);
  --colors-light-black-720-solid: hsl(220 2% 27%);
  --colors-light-black-740-solid: hsl(220 2% 25%);
  --colors-light-black-750: hsl(0 0 0% / 0.75);
  --colors-light-black-760-solid: hsl(220 3% 23%);
  --colors-light-black-780-solid: hsl(240 2% 22%);
  --colors-light-black-80-solid: hsl(228 11% 97%);
  --colors-light-black-800: hsl(0 0 0% / 0.8);
  --colors-light-black-800-solid: hsl(240 2% 20%);
  --colors-light-black-820-solid: hsl(210 2% 18%);
  --colors-light-black-840-solid: hsl(210 2% 16%);
  --colors-light-black-850: hsl(0 0 0% / 0.85);
  --colors-light-black-860-solid: hsl(240 1% 14%);
  --colors-light-black-880-solid: hsl(240 2% 12%);
  --colors-light-black-900: hsl(0 0 0% / 0.9);
  --colors-light-black-900-solid: hsl(240 2% 10%);
  --colors-light-black-920-solid: hsl(0 0 8%);
  --colors-light-black-940-solid: hsl(0 0 6%);
  --colors-light-black-950: hsl(0 0 0% / 0.95);
  --colors-light-black-960-solid: hsl(0 0 4%);
  --colors-light-black-980-solid: hsl(0 0 2%);
  --colors-light-blue-100: hsl(221 83% 53% / 0.1);
  --colors-light-blue-100-solid: hsl(214 95% 93%);
  --colors-light-blue-150: hsl(221 83% 53% / 0.2);
  --colors-light-blue-20: hsl(221 83% 53% / 0.02);
  --colors-light-blue-200: hsl(221 83% 53% / 0.3);
  --colors-light-blue-200-solid: hsl(213 97% 87%);
  --colors-light-blue-250: hsl(221 83% 53% / 0.4);
  --colors-light-blue-300: hsl(221 83% 53% / 0.5);
  --colors-light-blue-300-solid: hsl(212 96% 78%);
  --colors-light-blue-350: hsl(221 83% 53% / 0.6);
  --colors-light-blue-400: hsl(221 83% 53% / 0.7);
  --colors-light-blue-400-solid: hsl(213 94% 68%);
  --colors-light-blue-450: hsl(221 83% 53% / 0.8);
  --colors-light-blue-50: hsl(221 83% 53% / 0.05);
  --colors-light-blue-50-solid: hsl(214 100% 97%);
  --colors-light-blue-500: hsl(221 83% 53% / 0.9);
  --colors-light-blue-500-solid: hsl(217 91% 60%);
  --colors-light-blue-600-solid: hsl(221 83% 53%);
  --colors-light-blue-700-solid: hsl(224 76% 48%);
  --colors-light-blue-800-solid: hsl(226 71% 40%);
  --colors-light-blue-900-solid: hsl(224 64% 33%);
  --colors-light-blue-950-solid: hsl(226 57% 21%);
  --colors-light-cold-grey-100-solid: hsl(210 40% 98%);
  --colors-light-cold-grey-150: hsl(220 17% 53% / 0.15);
  --colors-light-cold-grey-150-solid: hsl(210 40% 96%);
  --colors-light-cold-grey-20: hsl(220 17% 53% / 0.02);
  --colors-light-cold-grey-200: hsl(220 17% 53% / 0.3);
  --colors-light-cold-grey-200-solid: hsl(215 38% 94%);
  --colors-light-cold-grey-250: hsl(220 17% 53% / 0.4);
  --colors-light-cold-grey-250-solid: hsl(214 32% 91%);
  --colors-light-cold-grey-300: hsl(220 17% 53% / 0.5);
  --colors-light-cold-grey-300-solid: hsl(213 28% 87%);
  --colors-light-cold-grey-350: hsl(220 17% 53% / 0.6);
  --colors-light-cold-grey-350-solid: hsl(213 27% 84%);
  --colors-light-cold-grey-400: hsl(220 17% 53% / 0.7);
  --colors-light-cold-grey-400-solid: hsl(216 22% 76%);
  --colors-light-cold-grey-450: hsl(220 17% 53% / 0.8);
  --colors-light-cold-grey-450-solid: hsl(217 21% 69%);
  --colors-light-cold-grey-50: hsl(220 17% 53% / 0.05);
  --colors-light-cold-grey-500: hsl(220 17% 53% / 0.9);
  --colors-light-cold-grey-500-solid: hsl(218 19% 60%);
  --colors-light-cold-grey-550-solid: hsl(220 17% 53%);
  --colors-light-cold-grey-600-solid: hsl(219 17% 45%);
  --colors-light-cold-grey-650-solid: hsl(218 20% 38%);
  --colors-light-cold-grey-700-solid: hsl(217 23% 32%);
  --colors-light-cold-grey-750-solid: hsl(215 25% 27%);
  --colors-light-cold-grey-800-solid: hsl(216 25% 22%);
  --colors-light-cold-grey-850-solid: hsl(215 28% 17%);
  --colors-light-cold-grey-90: hsl(220 17% 53% / 0.06);
  --colors-light-cold-grey-900-solid: hsl(215 34% 14%);
  --colors-light-cold-grey-950-solid: hsl(222 47% 11%);
  --colors-light-green-100: hsl(142 76% 36% / 0.1);
  --colors-light-green-100-solid: hsl(141 84% 93%);
  --colors-light-green-150: hsl(142 76% 36% / 0.2);
  --colors-light-green-20: hsl(142 76% 36% / 0.02);
  --colors-light-green-200: hsl(142 76% 36% / 0.3);
  --colors-light-green-200-solid: hsl(141 79% 85%);
  --colors-light-green-250: hsl(142 76% 36% / 0.4);
  --colors-light-green-300: hsl(142 76% 36% / 0.5);
  --colors-light-green-300-solid: hsl(142 77% 73%);
  --colors-light-green-350: hsl(142 76% 36% / 0.6);
  --colors-light-green-400: hsl(142 76% 36% / 0.7);
  --colors-light-green-400-solid: hsl(142 69% 58%);
  --colors-light-green-450: hsl(142 76% 36% / 0.8);
  --colors-light-green-50: hsl(142 76% 36% / 0.05);
  --colors-light-green-50-solid: hsl(138 76% 97%);
  --colors-light-green-500: hsl(142 76% 36% / 0.9);
  --colors-light-green-500-solid: hsl(142 71% 45%);
  --colors-light-green-600-solid: hsl(142 76% 36%);
  --colors-light-green-700-solid: hsl(142 72% 29%);
  --colors-light-green-800-solid: hsl(143 64% 24%);
  --colors-light-green-900-solid: hsl(144 61% 20%);
  --colors-light-green-950-solid: hsl(145 80% 10%);
  --colors-light-orange-100: hsl(25 95% 53% / 0.1);
  --colors-light-orange-100-solid: hsl(34 100% 92%);
  --colors-light-orange-150: hsl(25 95% 53% / 0.2);
  --colors-light-orange-20: hsl(25 95% 53% / 0.02);
  --colors-light-orange-200: hsl(25 95% 53% / 0.3);
  --colors-light-orange-200-solid: hsl(32 98% 83%);
  --colors-light-orange-250: hsl(25 95% 53% / 0.4);
  --colors-light-orange-300: hsl(25 95% 53% / 0.5);
  --colors-light-orange-300-solid: hsl(31 97% 72%);
  --colors-light-orange-350: hsl(25 95% 53% / 0.6);
  --colors-light-orange-400: hsl(25 95% 53% / 0.7);
  --colors-light-orange-400-solid: hsl(27 96% 61%);
  --colors-light-orange-450: hsl(25 95% 53% / 0.8);
  --colors-light-orange-50: hsl(25 95% 53% / 0.05);
  --colors-light-orange-50-solid: hsl(33 100% 96%);
  --colors-light-orange-500: hsl(25 95% 53% / 0.9);
  --colors-light-orange-500-solid: hsl(25 95% 53%);
  --colors-light-orange-600-solid: hsl(21 90% 48%);
  --colors-light-orange-700-solid: hsl(17 88% 40%);
  --colors-light-orange-800-solid: hsl(15 79% 34%);
  --colors-light-orange-900-solid: hsl(15 75% 28%);
  --colors-light-orange-950-solid: hsl(13 81% 15%);
  --colors-light-purple-100: hsl(272 72% 47% / 0.1);
  --colors-light-purple-100-solid: hsl(269 100% 95%);
  --colors-light-purple-150: hsl(272 72% 47% / 0.2);
  --colors-light-purple-20: hsl(272 72% 47% / 0.02);
  --colors-light-purple-200: hsl(272 72% 47% / 0.3);
  --colors-light-purple-200-solid: hsl(269 100% 92%);
  --colors-light-purple-250: hsl(272 72% 47% / 0.4);
  --colors-light-purple-300: hsl(272 72% 47% / 0.5);
  --colors-light-purple-300-solid: hsl(269 97% 85%);
  --colors-light-purple-350: hsl(272 72% 47% / 0.6);
  --colors-light-purple-400: hsl(272 72% 47% / 0.7);
  --colors-light-purple-400-solid: hsl(270 95% 75%);
  --colors-light-purple-450: hsl(272 72% 47% / 0.8);
  --colors-light-purple-50: hsl(272 72% 47% / 0.05);
  --colors-light-purple-50-solid: hsl(270 100% 98%);
  --colors-light-purple-500: hsl(272 72% 47% / 0.9);
  --colors-light-purple-500-solid: hsl(271 91% 65%);
  --colors-light-purple-600-solid: hsl(271 81% 56%);
  --colors-light-purple-700-solid: hsl(272 72% 47%);
  --colors-light-purple-800-solid: hsl(273 67% 39%);
  --colors-light-purple-900-solid: hsl(274 66% 32%);
  --colors-light-purple-950-solid: hsl(274 87% 21%);
  --colors-light-red-100: hsl(0 72% 51% / 0.1);
  --colors-light-red-100-solid: hsl(0 93% 94%);
  --colors-light-red-150: hsl(0 72% 51% / 0.2);
  --colors-light-red-20: hsl(0 72% 51% / 0.02);
  --colors-light-red-200: hsl(0 72% 51% / 0.3);
  --colors-light-red-200-solid: hsl(0 96% 89%);
  --colors-light-red-250: hsl(0 72% 51% / 0.4);
  --colors-light-red-300: hsl(0 72% 51% / 0.5);
  --colors-light-red-300-solid: hsl(0 94% 82%);
  --colors-light-red-350: hsl(0 72% 51% / 0.6);
  --colors-light-red-400: hsl(0 72% 51% / 0.7);
  --colors-light-red-400-solid: hsl(0 91% 71%);
  --colors-light-red-450: hsl(0 72% 51% / 0.8);
  --colors-light-red-50: hsl(0 72% 51% / 0.05);
  --colors-light-red-50-solid: hsl(0 86% 97%);
  --colors-light-red-500: hsl(0 72% 51% / 0.9);
  --colors-light-red-500-solid: hsl(0 84% 60%);
  --colors-light-red-600-solid: hsl(0 72% 51%);
  --colors-light-red-700-solid: hsl(0 74% 42%);
  --colors-light-red-800-solid: hsl(0 70% 35%);
  --colors-light-red-900-solid: hsl(0 63% 31%);
  --colors-light-red-950-solid: hsl(0 75% 15%);
  --colors-light-sky-100: hsl(199 89% 48% / 0.1);
  --colors-light-sky-100-solid: hsl(204 94% 94%);
  --colors-light-sky-150: hsl(199 89% 48% / 0.2);
  --colors-light-sky-20: hsl(199 89% 48% / 0.02);
  --colors-light-sky-200: hsl(199 89% 48% / 0.3);
  --colors-light-sky-200-solid: hsl(201 94% 86%);
  --colors-light-sky-250: hsl(199 89% 48% / 0.4);
  --colors-light-sky-300: hsl(199 89% 48% / 0.5);
  --colors-light-sky-300-solid: hsl(199 95% 74%);
  --colors-light-sky-350: hsl(199 89% 48% / 0.6);
  --colors-light-sky-400: hsl(199 89% 48% / 0.7);
  --colors-light-sky-400-solid: hsl(198 93% 60%);
  --colors-light-sky-450: hsl(199 89% 48% / 0.8);
  --colors-light-sky-50: hsl(199 89% 48% / 0.05);
  --colors-light-sky-50-solid: hsl(204 100% 97%);
  --colors-light-sky-500: hsl(199 89% 48% / 0.9);
  --colors-light-sky-500-solid: hsl(199 89% 48%);
  --colors-light-sky-600-solid: hsl(200 98% 39%);
  --colors-light-sky-700-solid: hsl(201 96% 32%);
  --colors-light-sky-800-solid: hsl(201 90% 27%);
  --colors-light-sky-900-solid: hsl(202 80% 24%);
  --colors-light-sky-950-solid: hsl(204 80% 16%);
  --colors-light-white-100: hsl(0 0 100% / 0.06);
  --colors-light-white-1000-solid: hsl(0 0 100%);
  --colors-light-white-150: hsl(0 0 100% / 0.08);
  --colors-light-white-200: hsl(0 0 100% / 0.2);
  --colors-light-white-250: hsl(0 0 100% / 0.25);
  --colors-light-white-300: hsl(0 0 100% / 0.3);
  --colors-light-white-350: hsl(0 0 100% / 0.35);
  --colors-light-white-400: hsl(0 0 100% / 0.4);
  --colors-light-white-450: hsl(0 0 100% / 0.45);
  --colors-light-white-50: hsl(0 0 100% / 0.02);
  --colors-light-white-500: hsl(0 0 100% / 0.5);
  --colors-light-white-550: hsl(0 0 100% / 0.55);
  --colors-light-white-600: hsl(0 0 100% / 0.6);
  --colors-light-white-650: hsl(0 0 100% / 0.65);
  --colors-light-white-70: hsl(0 0 100% / 0.04);
  --colors-light-white-700: hsl(0 0 100% / 0.7);
  --colors-light-white-750: hsl(0 0 100% / 0.75);
  --colors-light-white-800: hsl(0 0 100% / 0.8);
  --colors-light-white-850: hsl(0 0 100% / 0.85);
  --colors-light-white-900: hsl(0 0 100% / 0.9);
  --colors-light-white-950: hsl(0 0 100% / 0.95);
  --colors-light-yellow-100: hsl(45 93% 47% / 0.1);
  --colors-light-yellow-100-solid: hsl(55 97% 88%);
  --colors-light-yellow-150: hsl(45 93% 47% / 0.2);
  --colors-light-yellow-20: hsl(45 93% 47% / 0.02);
  --colors-light-yellow-200: hsl(45 93% 47% / 0.3);
  --colors-light-yellow-200-solid: hsl(53 98% 77%);
  --colors-light-yellow-250: hsl(45 93% 47% / 0.4);
  --colors-light-yellow-300: hsl(45 93% 47% / 0.5);
  --colors-light-yellow-300-solid: hsl(50 98% 64%);
  --colors-light-yellow-350: hsl(45 93% 47% / 0.6);
  --colors-light-yellow-400: hsl(45 93% 47% / 0.7);
  --colors-light-yellow-400-solid: hsl(48 96% 53%);
  --colors-light-yellow-450: hsl(45 93% 47% / 0.8);
  --colors-light-yellow-50: hsl(45 93% 47% / 0.05);
  --colors-light-yellow-50-solid: hsl(55 92% 95%);
  --colors-light-yellow-500: hsl(45 93% 47% / 0.9);
  --colors-light-yellow-500-solid: hsl(45 93% 47%);
  --colors-light-yellow-600-solid: hsl(41 96% 40%);
  --colors-light-yellow-700-solid: hsl(35 92% 33%);
  --colors-light-yellow-800-solid: hsl(32 81% 29%);
  --colors-light-yellow-900-solid: hsl(28 73% 26%);
  --colors-light-yellow-950-solid: hsl(26 83% 14%);
}